<app-loading *ngIf="loading"></app-loading>

<div [ngClass]="loading ? 'opacity-loader' : ' '" class="mx-4">
    <div class="row px-5">
        <div class="col-md-8">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Lista de evento en los que soy participante</label>
                <select [(ngModel)]="event" class="form-control" id="exampleFormControlSelect1">
                  <option *ngFor="let event of listEvents" [ngValue]='event'>{{event.name}}</option>
                </select>
              </div>
        </div>
        <div class="col-md-4 mt-4">
            <button class="btn btn-danger" (click)="loadCandidates()">Buscar</button>
        </div>
    </div>
    
  <div class="row">
    <div class="col-12">
      <div class="card border mb-4">
        <div class="card-header"></div>
        <div class="card-body">
            <span *ngFor="let candidate of listCandidates">{{candidate.user?.firstName!}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
